@font-face {
  font-family: heriof;
  font-weight: 400;
  src: url(./fonts/HeirofLightRegular.ttf) format('truetype');
}

@font-face {
  font-family: heriofB;
  font-weight: 400;
  src: url(./fonts/HeirofLightBold.ttf) format('truetype');
}

.App {
  position: relative;
}

span {
  display: inline-block;
}

.bg {
  width: 100%;
}

.btns {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btnDeco {
  width: 80%;
}

.btnText {
  position: absolute;
  width: 70%;
  margin: 0;
  text-align: center;
  font-family: heriofB;
  font-size: 27px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  position: relative;
  width: 300px;
  text-align: center;
}

.btnLbl:hover {
  cursor: pointer;
  color: #7C8EBE;
}

.usrImg {
  height: 400px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.previewImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  z-index: 1;
}

.imgFrame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 470px;
  z-index: 2;
}

.loader {
  width: 300px;
  position: absolute;
  /* bottom: -50%; */
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: heriof;
}

.preds {
  width: 1200px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: heriof;
  font-weight: bold;
}

.result {
  padding: 0 15px;
  object-fit: cover;
  width: 300px;
  height: 400px;
}
