@font-face {
    font-family: heriof;
    font-weight: 400;
    src: url(../fonts/HeirofLightRegular.ttf) format('truetype');
  }

.contentWrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.loaderWrap {
    position: absolute;
    top: 140%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.counter {
    font-family: heriof;
    width: 300px;
}

